<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular directives : basic : on ng-repeater finished</title>

  <style type="text/css">
  .data-content {
    height: 200px;
    border: 1px #DDD solid;
    overflow: auto;
  }
  </style>

</head>
<body ng-controller="MainCtrl as main">

  <!-- === -->

  <h1>Angular directives : basic : on ng-repeater finished</h1>

  <hr/>

  <ul class="data-content" auto-scroll-down>
    <li
      ng-repeat="value in main.data"
      on-ng-repeat-finished="main.renderFinished()">{{::value}}</li>
  </ul>

  <hr/>

  <p>
    Is render finished? <b>{{main.isRenderFinished}}</b>
    <button
      ng-show="main.isRenderFinished"
      ng-click="main.generateData()">Load more</button>
  </p>

  <!-- === -->

  <script src="/cdn/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- AngularJS resources -->
  <!-- http://code.angularjs.org/1.5.6/ -->
  <script src="/cdn/ajax/libs/angular.js/1.5.6/angular.min.js"></script>

  <script src="ng-start.js"></script>

  <script src="app/components/autoScrollDown/module.js"></script>
  <script src="app/components/autoScrollDown/directive.js"></script>

  <script src="app/components/onNgRepeatFinished/module.js"></script>
  <script src="app/components/onNgRepeatFinished/directive.js"></script>

  <script src="app/main/module.js"></script>
  <script src="app/main/controller.js"></script>

</body>
</html>
