<div class="container-fluid">

  <div class="row"><p>{{greetings}}</p></div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <p>About : <a href="#/about">link</a> | <a ui-sref="about">state</a> | <a href="" ng-click="goToAbout()">controller</a></p>

    <p>Page : <a href="#/page">link</a> | <a ui-sref="page">state | <a href="" ng-click="gotToPage()">controller</a></p>

    <p>Dashboard : <a href="#/dashboard">link</a> | <a ui-sref="dashboard">state | <a href="" ng-click="gotToDashboard()">controller</a></p>

    <p>404 - Invalid URL : <a href="#/invalid_url">link</a></p>
  </div>

</div>
