<div>

  <select
      ng-model="selected"
      ng-options="lang for lang in languages"
      ng-change="itemSelected()">
  </select>

  <ul>
    <li><a href="#/about" translate>{{ 'ABOUT.TITLE'}}</a></li>
  </ul>


  <div>
    <p>{{ 'HOME.TITLE' | translate }}</p>
    <p translate>PASSED_AS_TEXT</p>
    <p translate="PASSED_AS_ATTRIBUTE"></p>
    <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
    <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
    <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht'}"></p>
    <p translate="VARIABLE_REPLACEMENT" translate-value-name="PascalPrecht"></p>
  </div>

</div>
