<div>

  <ul class="nav nav-sidebar">
    <li ui-sref-active="active"><a href="" ui-sref="dashboard.overview">Overview</a></li>  <!-- class="active" -->
    <li ui-sref-active="active"><a href="" ui-sref="dashboard.reports">Reports</a></li>
    <li ui-sref-active="active"><a href="" ui-sref="dashboard.analytics">Analytics</a></li>
    <li ui-sref-active="active"><a href="" ui-sref="dashboard.export">Export</a></li>
  </ul>

  <hr>

  <ul class="nav nav-sidebar">
    <li><a href="" ui-sref="home">Back to Home</a></li>
  </ul>

  <hr>

  <p>{{sidebar.someValue}}</p>

</div>
