<!DOCTYPE html>
<html lang="en" ng-controller="MainCtrl as main">
<head>
  <meta charset="UTF-8">
  <title>Angular - localStorage : 01</title>
</head>
<body>

  <p>{{main.msg}}</p>

  <hr>

  <p>
    data value :
    <input
      type="text"
      placeholder="data value"
      ng-model="main.value"> -
    <!-- <button ng-click="main.getValue()">get</button> -->
    <button ng-click="main.setValue()">save</button>
    <button ng-click="main.removeValue()">remove</button>
  </p>

  <p>
    token value :
    <input
      type="text"
      placeholder="token value"
      ng-model="main.token"> -
    <!-- <button ng-click="main.getToken()">get</button> -->
    <button ng-click="main.setToken()">save</button>
    <button ng-click="main.removeToken()">remove</button>
  </p>


  <hr>

  <p>See DevTools</p>
  <br>
  <p><a href="https://github.com/auth0/angular-storage" target="_blank">[GitHub] auth0 / angular-storage</a></p>

  <script src="/cdn/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="/cdn/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
  <script src="/cdn/ajax/libs/angular-storage/0.0.9/angular-storage.min.js"></script>

  <script src="scripts/storage/data.js"></script>
  <script src="scripts/storage/token.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/bootstrap.js"></script>

</body>
</html>
