<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AngularJS : 02 : mock with httpBackend</title>
</head>
<body>
  
  <div ng-controller="UserCtrl" class="no-cloak">
    <ul>
        <li ng-repeat="user in users">{{user.userId}}: {{user.userName}}</li>
        
        <button ng-click="addUser()">Add user (HTTP POST)</button>
    </ul>
  </div>

  <!-- http://code.angularjs.org/1.2.1/ -->
  <script src="/cdn/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  <script src="/cdn/ajax/libs/angular.js/1.2.1/angular-mocks.js"></script>

  <script src="scripts/app-main.js"></script>
  <script src="scripts/controllers/UserCtrl.js"></script>
  <script src="scripts/app-mock.js"></script>
  <script src="scripts/app-start.js"></script>

</body>
</html>